<template>
	<header class="header">
		<ul>
			<li><a href="store.html"><img src="assets/logo.svg" alt="logo processgame"></a></li>
			<li><a href="store.html">store</a></li>
			<li><a href="library.html">library</a></li>
			<li><a href="creation.html">Creation</a></li>
			<li><p>BOB</p><input v-on:click="user.connect('BOB', usertmp.password)" type="submit" value="connect"></li>
		</ul>
		<div class="overlay" style="display: none">
			<header><h3>Register</h3><button>X</button></header>
			<form>
				<label for="username">Username:</label>
				<input name="username" type="text">
				<label for="password">Password:</label>
				<input name="password" type="password">
				<label for="passwordb">Confirm password</label>
				<input name="passwordb" type="password">
				<input type="submit" value="Register">
			</form>
		</div>
		<div class="overlay" style="display: none">
			<header><h3>Connect</h3><button>X</button></header>
			<form>
				<label for="username">Username:</label>
				<input name="username" type="text">
				<label for="password">Password:</label>
				<input name="password" type="password">
				<input type="submit" value="Connect">
			</form>
		</div>
	</header>
</template>

<script>
  export default {
    name: 'Header',
    data () {
      return {
        msg: 'Welcome to Crypto Info'
      }
    }
  }
</script>

<style>

.Header > *, .Header > * {
	background: #212433;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 3em;
	font-size: 2em;
	text-align: center;
	width: 100%;
}
.Header *, body > footer * {
}

.Header img {
	height:2.5em;
}
</style>