<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript,VUEJS">
	<meta name="author" content="SORLIN Valentin">
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<header>
		<ul v-if="token !== null">
			<li><a href="store.html"><img src="img/logo.svg" class="logo" alt="logo processgame"></a></li>
			<li><a href="store.html">store</a></li>
			<li><a href="library.html">library</a></li>
			<li><a href="creation.html">Creation</a></li>
			<li>
				<p>
				<a href="cart.html">
					<img class="cart" src="img/shopping-cart.svg" alt="image de cart">
				</a>
				<a href="profil.html">
					Isidoris2
				</a>
				</p>
				<input v-on:click="user.connect('BOB', usertmp.password)" type="submit" value="Disconnect">
			</li>
		</ul>
		<ul v-if="token === null">
			<li><a href="store.html"><img src="img/logo.svg" class="logo" alt="logo processgame"></a></li>
			<li><a href="store.html">store</a></li>
			<li>
				<input v-on:click="overlay_connect()" type="submit" value="Connect">
				<input v-on:click="overlay_register()" type="submit" value="Register">
			</li>
		</ul>
		<div v-if="registered === true" class="overlay">
			<header><h3>Register</h3><button v-on:click="overlay_register()">X</button></header>
			<form id="register-form" v-on:submit.prevent="register()">
				<label for="username">Username:</label>
				<input name="username" type="text">
				<label for="password">Password:</label>
				<input name="password" type="password">
				<label for="passwordb">Confirm password</label>
				<input name="passwordb" type="password">
				<input type="submit" value="Register">
			</form>
		</div>
		<div v-if="connected === true" class="overlay">
			<header><h3>Connect</h3><button v-on:click="overlay_connect()">X</button></header>
			<form id="login-form" v-on:submit.prevent="connect()">
				<label for="username">Username:</label>
				<input name="username" type="text">
				<label for="password">Password:</label>
				<input name="password" type="password">
				<input type="submit" value="Connect">
			</form>
		</div>
	</header>
	<main>
		<header class="header_search">
			<form action="" class="formulaire">
				<div>
					<div>
						<label for="search">Search: </label>
						<input name="search" type="text">
						<input type="submit" class="search" value=" ">		
					</div>
					<input type="textarea" placeholder="Tags separete by ','">		
				</div>
				<div>
					<div>
						<input name= "searchInTitle" type="checkbox">
						<label for="searchInTitle">Title</label>
						<input name= "searchInDesc" type="checkbox">
						<label for="searchInDesc">Description</label>
						<input name= "searchInGestion" type="checkbox">
						<label for="searchInGestion">Gestion</label>
						<input name= "searchInCrowd" type="checkbox">
						<label for="searchInCrowd">Crowdfunding</label>
					</div>
					<div>
						<label for="orderby">Orderby :</label>
						<select name="orderby">
							<option value="">Random</option>
							<option value="dog">Dog</option>
							<option value="cat">Cat</option>
							<option value="hamster">Hamster</option>
							<option value="parrot">Parrot</option>
							<option value="spider">Spider</option>
							<option value="goldfish">Goldfish</option>
						</select>		
					</div>
				</div>
			</form>
		</header>
		<ul class="shop">
			<li v-for="game in games">
				<a v-attr="src: 'game.html?id=' + game.game_id">
					<img v-attr="src: game.image" v-attr="alt: 'image for game' + game.name">
					<h3>{{game.name}}</h3>
					<p>Price: {{game.name}}</p>
				</a>
			</li>
		</ul>
	</main>
	<footer>
		<div>© 2018 DigitaruCamera</div>
	</footer>
	<script src="script.js"></script>
</body>

</html>
