<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript,VUEJS">
	<meta name="author" content="SORLIN Valentin">
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>

<body>
	<main>
		<table style="width:100%">
			<tbody>
				<tr v-for="(step, i) in steps">
					<td>{{step.text}} id:{{i}}</td>
					<td v-for="(todo, j) in step.todos">{{todo.text}} id:{{j}} <button v-on:click="step.delTodo(j)">X</button></td>
					<td>
						<form v-on:submit.prevent="step.addTodo()">
							<input type="text" v-model="step.tempTodo">
							<input type="submit" value="add Todo">
						</form>
					</td>
					<td><button v-on:click="delStep(i)">del step</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<form v-on:submit.prevent="addStep()">
							<input type="text" v-model="tempStep">
							<input type="submit" value="add Step">
						</form>
					</td>
				</tr>
			</tfoot>
		</table> 
	</main>
	<script>
		class Todo {
		  constructor(_text) {
			this.text = _text;
		  }
		}

		class Step {
		  constructor(_text) {
			this.text = _text;
			this.tempTodo = "";
			this.todos = [];
		  }
		  
		  addTodo() {
		   console.log("addTodo");
			this.todos.push(new Todo(this.tempTodo));
		  }

		  delTodo(_id) {
		    console.log("delTodo" + _id);
			this.steps.splice(_id, 1);
		  }
		}
	
		let main = new Vue({
		  el: 'body > main',
		  data: {
			tempStep: "",
			steps: [],
			i: 0,
			j: 0
		  },
		  methods: {
			  addStep: function () {
				console.log("addStep");
				this.steps.push(new Step(this.tempStep));
			  },
			  delStep: function (_id) {
				this.steps.splice(_id, 1);
			  }
		  }
		})
		console.log(main);
	</script>
</body>

</html>
