<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
* {
	margin: 0;
	padding: 0;
}

#app {
	background: #212433;
	display: flex;
	align-items: center;
	flex-direction: column;
	heigth: 100%;
	width: 100%;
}
</style>