/*
#2D3245 light back
#212433 dark back
#DFDFDF text color
#8E7CC3 important back
*/


* {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #DFDFDF;
}

body {
	background: #212433;
	display: flex;
	align-items: center;
	flex-direction: column;
}

body > * {
	width: 100%;
}

.formulaire {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: #212433;
	padding: 1em;
}

label {
	font-size: 1em;
}

input, button, select, option {
	background: white;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	height: 2em;
	margin: 0.5em 0;
	padding: 0 0.5em;
}

*[type="button"], *[type="submit"], button {
	background: #8E7CC3;
	color: #DFDFDF;
	border: none;
}

.search {
	background-image: url(../img/search.svg);
	width: 2em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlay > header {
	display: flex;
}

.overlay > * {
	max-width: 600px;
}

body > header >  ul, body > footer > ul {
	background: #212433;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 3em;
	font-size: 2em;
	text-align: center;
	width: 95%;
	align-self: center;
	margin: auto;
	border-bottom: 5px solid black;
}
body > header *, body > footer * {
	width: 100%;
}

body > header > img {
	height:2.5em;
}

main {
	min-height: calc(100vh - 3em);
	background: #2D3245;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shop {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.game {
	background: #212433;
	margin: 1em;
	overflow: hidden;
	box-shadow: 0px 0px 7px black;
	height: 250px;
	width: 200px;
}

.game:hover {
	box-shadow: 4px 4px 20px black;
}

.game img {
	height: 80%;
	width: 100%;
}

.add {
	background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
	background-size: 90%;
    background-position: center; 
}

a {
	display: block;
	width: 100%;
	height: 100%;
}

.cart {
	height: 1em;
	display: inline-block;
}

.logo {
	height: 2.5em;
}

header p {
	display: flex;
	flex-direction: row;
}

.header_search {
	width: 100%;
}

.header_search * {
	display: flex;
	justify-content: space-around;
}